.transition-group {
    position: relative;
    display: flex;
    flex: 1;
}

.route-section {
 position: absolute;
 width: 100%;
 height: 100%;
}

.fade-enter {
    opacity: 0;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fade-exit {
    opacity: 1;
}
  
.fade-exit.fade-exit-active {
    opacity: 0.00;
    transition: opacity 500ms ease-out;
}